* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 800px;
  min-width: 400px;
}

#heading {
  text-align: center;
  margin: 2rem;
  font-style: italic;
}

#preview,
#gallery {
  width: 100%;
  margin: auto;
}

#preview {
  position: relative;
  display: inline-block;
  & img {
    width: 100%;
  }

  /* Darken and Lighten button */
  & button {
    z-index: 10;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 8%;
    width: 16%;
    border: none;
    border-radius: 5px;
    &#darken {
      /* display: none; */
      background-color: black;
      color: white;
    }

    &#lighten {
      display: none;
      background-color: white;
      color: black;
    }

    &:not(:hover),
    :not(:active) {
      opacity: 0.3;
    }
  }

  /* Dark layer on top of the image */
  & #layer {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    display: none;
  }
}

#gallery img {
  width: 20%;
  float: left;
}
